.make-order__content {
  @include size(80%, 100%);
  @include flex(row, center, space-evenly);
  flex-wrap: wrap;
  margin-top: 20px;

  @media screen and (min-width: $portraitPhone) and (max-width: $landscapePhone) {
    @include flex(column);
  }

  @media screen and (max-width: $portraitPhone) {
    @include flex(column);
  }
}

.make-order__anchor {
  position: absolute;
  top: -65px;

  @media screen and (min-width: $portraitPhone) and (max-width: $landscapePhone) {
    top: -76px;
  }

  @media screen and (max-width: $portraitPhone) {
    top: -102px;
  }
}

.input-field {
  width: 44%;
  margin-bottom: 30px;

  &__label {
    font-size: 15px;
    font-family: $regularFont;
    font-weight: 100;

    @media screen and (min-width: $mediumScreen) and (max-width: $largeScreen) {
      font-size: 14px;
    }
  
    @media screen and (min-width: $landscapePhone) and (max-width: $mediumScreen) {
      font-size: 12px;
    }

    @media screen and (min-width: $portraitPhone) and (max-width: $landscapePhone) {
      font-size: 15px;
    }
  
    @media screen and (max-width: $portraitPhone) {
      font-size: 15px;
    }
  }

  &__text {
    padding: 10px;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    outline: none;
    border: 1px solid $dark;

    &:focus {
      border: 1px solid $decor;
    }
  }

  @media screen and (min-width: $portraitPhone) and (max-width: $landscapePhone) {
    width: 80%;
  }

  @media screen and (max-width: $portraitPhone) {
    width: 80%;
  }
}

.star {
  color: $decor;
}

.make-order__footnote {
  width: 88%;
  font-size: 14px;
  font-family: $regularFont;
  font-weight: 100;

  @media screen and (max-width: $portraitPhone) {
    font-size: 13px;
    width: 80%;
  }
}

.submit-field__button {
  margin-top: 20px;
  width: 160px;
  height: 40px;
  background-color: $decor;
  border: none;
  outline: none;
  border-radius: 3px;
  color: $light;
  text-transform: uppercase;
  font-family: $regularFont;
  font-weight: 10;

  &:active {
    background-color: #ac4e32;
  }
}