article.why-me.article-block
  h2.article-header.article-header_light Почему я?
  .why-me__content
    .why-me-block.suitcase
      i.fas.fa-dolly
      p.description Выезжаю к клиентам - с чемоданом косметики.
    .why-me-block.helpful
      i.far.fa-comments
      p.description Всегда на связи - помогу с подготовкой и поделюсь своим опытом.
    .why-me-block.timing
      i.far.fa-clock
      p.description Приеду в любое удобное для вас время.
    .why-me-block.individual
      i.fas.fa-clipboard-list
      p.description Подберу для вас подходящий и стойкий макияж.
  include ../button/button