article.my-works.article-block
  a(name="my-works").anchor-point
  h2.article-header.article-header_dark Мои работы
  .my-works__content
    .example
      a(target="_blank", rel="noopener noreferrer", href="/assets/img/my-works/full-image/001.jpg")
        img(src="/assets/img/my-works/001_preview.png", alt="Пример 1").example-one.preview
    .example
      a(target="_blank", rel="noopener noreferrer", href="/assets/img/my-works/full-image/002.jpg")
        img(src="/assets/img/my-works/002_preview.png", alt="Пример 2").example-two.preview
    .example
      a(target="_blank", rel="noopener noreferrer", href="/assets/img/my-works/full-image/003.jpg")
        img(src="/assets/img/my-works/003_preview.png", alt="Пример 3").example-three.preview
    .example
      a(target="_blank", rel="noopener noreferrer", href="/assets/img/my-works/full-image/004.jpg")
        img(src="/assets/img/my-works/004_preview.png", alt="Пример 4").example-four.preview
    .example
      a(target="_blank", rel="noopener noreferrer", href="/assets/img/my-works/full-image/005.jpg")
        img(src="/assets/img/my-works/005_preview.png", alt="Пример 5").example-five.preview
    .example
      a(target="_blank", rel="noopener noreferrer", href="/assets/img/my-works/full-image/006.jpeg")
        img(src="/assets/img/my-works/006_preview.png", alt="Пример 6").example-six.preview
    .example
      a(target="_blank", rel="noopener noreferrer", href="/assets/img/my-works/full-image/007.jpg")
        img(src="/assets/img/my-works/007_preview.png", alt="Пример 7").example-seven.preview
    .example
      a(target="_blank", rel="noopener noreferrer", href="/assets/img/my-works/full-image/008.jpg")
        img(src="/assets/img/my-works/008_preview.png", alt="Пример 8").example-eight.preview
  .my-works__footer
    p.instagram Нужно больше  фотографий? Переходите на мой инстаграм
    a(target="_blank", rel="noopener noreferrer", href="https://www.instagram.com/stasy.makeup/")
      img(src="/assets/img/instagram.png", alt="Instagram").instagram-logo