.about {
  position: relative;

  @media screen and (min-width: $portraitPhone) and (max-width: $landscapePhone) {
    padding: 30px 0;
  }

  @media screen and (max-width: $portraitPhone) {
    flex-wrap: wrap-reverse;
    padding: 30px 0;
  }

  a {
    align-self: flex-start;
  }
}

.about-content {
  @include flex(row);

  @media screen and (max-width: $portraitPhone) {
    flex-wrap: wrap-reverse;
  }
}

.stacy-photo {
  @include size(220px);
  margin: 20px 40px 0 0;
  border-radius: 50%;
  overflow: hidden;

  @media screen and (min-width: $portraitPhone) and (max-width: $landscapePhone) {
    @include size(180px);
    margin: 0 20px 0 0;
  }

  @media screen and (max-width: $portraitPhone) {
    margin: 0;
    @include size(180px);
  }

  img {
    width: 100%;
  }
}

.about-text {
  @include flex(column);
  padding: 20px 40px;
  width: 50%;
  max-width: 490px;

  @media screen and (min-width: $portraitPhone) and (max-width: $landscapePhone) {
    padding: 0 20px;
    width: 50%;
  }

  @media screen and (max-width: $portraitPhone) {
    padding: 0 20px;
    width: 80%;
  }
}

.about-text__content {
  margin-top: 15px;
  text-align: center;
  font-size: 22px;
  font-family: "Sylfaen";
  line-height: 1.2;

  @media screen and (min-width: $mediumScreen) and (max-width: $largeScreen) {
    font-size: 20px;
  }

  @media screen and (min-width: $landscapePhone) and (max-width: $mediumScreen) {
    font-size: 17px;
  }

  @media screen and (min-width: $portraitPhone) and (max-width: $landscapePhone) {
    font-size: 16px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: $portraitPhone) {
    font-size: 19px;
    margin-bottom: 20px;
  }
}