.about {
  @include flex(row);
  @include size(100%);
  margin: 60px 0;

  @media screen and (min-width: $portraitPhone) and (max-width: $landscapePhone) {
    margin: 30px 0;
  }

  @media screen and (max-width: $portraitPhone) {
    flex-wrap: wrap-reverse;
    margin: 30px 0;
  }

  a {
    align-self: flex-start;
  }
}

.stacy-photo {
  @include size(220px);
  margin-right: 40px;
  border-radius: 50%;
  overflow: hidden;

  @media screen and (min-width: $portraitPhone) and (max-width: $landscapePhone) {
    margin-right: 20px;
  }

  @media screen and (max-width: $portraitPhone) {
    margin-right: 0px;
    @include size(200px);
  }

  img {
    width: 100%;
  }
}

.about-text {
  @include flex(column);
  padding: 20px 40px;
  width: 50%;
  max-width: 490px;

  @media screen and (min-width: $portraitPhone) and (max-width: $landscapePhone) {
    padding: 0 20px;
    width: 50%;
  }

  @media screen and (max-width: $portraitPhone) {
    padding: 0 20px;
    width: 80%;
  }
}

.about-text__header {
  display: block;
  border-bottom: 1px solid $dark;
  font-family: $italicFont;
  font-size: 40px;
  line-height: 38px;
}

.about-text__content {
  margin-top: 15px;
  text-align: center;
  font-size: 22px;
  font-family: "Sylfaen";
  line-height: 1.2;

  @media screen and (min-width: $mediumScreen) and (max-width: $largeScreen) {
    font-size: 20px;
  }

  @media screen and (min-width: $landscapePhone) and (max-width: $mediumScreen) {
    font-size: 17px;
  }

  @media screen and (min-width: $portraitPhone) and (max-width: $landscapePhone) {
    font-size: 16px;
    margin-bottom: 20px;
  }

  @media screen and (max-width: $portraitPhone) {
    font-size: 19px;
    margin-bottom: 20px;
  }
}