article.article-block.feedback
  a(name="feedback").anchor-point
  h2.article-header.article-header_dark Отзывы
  .feedback__content
    .feedback-item
      img(src="/assets/img/feedback/001.png", alt="Отзыв").feedback-image
    .feedback-item
      img(src="/assets/img/feedback/002.png", alt="Отзыв").feedback-image
    .feedback-item
      img(src="/assets/img/feedback/003.png", alt="Отзыв").feedback-image