article.my-cosmetics.article-block
  h2.article-header.article-header_dark Моя косметика
  .my-cosmetics__content
    .brand
      img(src="/assets/img/too-faced.png", alt="Too Faced").brand-logo.too-faced
    .brand
      img(src="/assets/img/benefit.png", alt="Benefit").brand-logo
    .brand
      img(src="/assets/img/make-up-forever.png", alt="Make Up For Ever").brand-logo.make-up-forever
    .brand
      img(src="/assets/img/beauty-blender.png", alt="Beauty Blender").brand-logo.beauty-blender
    .brand
      img(src="/assets/img/dior.png", alt="Dior").brand-logo
    .brand
      img(src="/assets/img/beauty-drugs.png", alt="Beauty Drugs").brand-logo.beauty-drugs
    .brand
      img(src="/assets/img/anastasia.png", alt="Anastasia").brand-logo.anastasia
    .brand
      img(src="/assets/img/givenchy.png", alt="Givenchy").brand-logo
    .brand
      img(src="/assets/img/estee-lauder.png", alt="Estee Lauder").brand-logo