footer.footer
  a(name="contacts").anchor-point
  h2.article-header.article-header_light Контакты
  .footer__content
    p.phone Телефон
      br
      | +7-919-964-46-90
    .messengers
      .messenger.whatsapp
        img(src="/assets/img/contacts/whatsapp.png", alt="Whats App").messenger-icon
      .messenger.viber
        img(src="/assets/img/contacts/viber.png", alt="Viber").messenger-icon
      .messenger.telegram
        img(src="/assets/img/contacts/telegram.png", alt="Telegram").messenger-icon