article.my-diplomas.article-block
  h2.article-header.article-header_light Мои дипломы
  .my-diplomas__content
    .diploma
      a(target="_blank", rel="noopener noreferrer", href="/assets/img/diplomas/diploma1-full.jpeg")
        img(src="/assets/img/diplomas/diploma1-preview.png", alt="Школа макияжа").diploma-one
    .diploma
      a(target="_blank", rel="noopener noreferrer", href="/assets/img/diplomas/diploma2-full.jpeg")
        img(src="/assets/img/diplomas/diploma2-preview.png", alt="Мастер-бровист").diploma-two
  include ../button/button