article.my-diplomas.article-block
  h2.article-header.article-header_light Мои дипломы
  .my-diplomas__content
    .diploma
      img(src="/assets/img/diploma1.png", alt="Школа макияжа").diploma-one
    .diploma
      img(src="/assets/img/diploma2.png", alt="Мастер-бровист").diploma-two
  a(href="#register")
    include ../button/button