@mixin size($width, $height: $width){
  width: $width;
  height: $height;
}

@mixin flex($direction, $align: center, $justify: center){
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}