//Fonts
$mainFont: 'Gabriola', Helvetica, Arial, sans-serif;
$italicFont: 'Matilda', Helvetica, Arial, sans-serif;
$regularFont: 'Roboto-Regular', Helvetica, Arial, sans-serif;

//Size
$largeScreen: 1280px;
$mediumScreen: 992px;
$landscapePhone: 768px;
$portraitPhone: 480px;

//Colors
$dark: #171f23;
$light: #ededed;
$decor: #f4511e;