article.article-block.prices
  a(name="price").anchor-point
  h2.article-header.article-header_light Услуги и цены
  .prices__content
    .prices-column
      h3.prices-column__header Вечерний макияж
      p.prices-column__content Яркий макияж для вечеринки. (Приблизительное время выполнения 1:30 часа на 1 человека)
      .service-price 2500р.
    .prices-column
      h3.prices-column__header Вечерний макияж с локонами
      p.prices-column__content Яркий макияж для вечеринки с дополнительной укладкой волос. (Приблизительное время выполнения 2 часа на 1 человека
      .service-price 3000р.
    .prices-column
      h3.prices-column__header Свадебный макияж с репетицией
      p.prices-column__content Стойкий и элегантный макияж для невесты. (Приблизительное время выполнения 1:30 часа.)
      .service-price 6000р.
    .prices-column
      h3.prices-column__header Макияж для съемки
      p.prices-column__content Макияж, который будет прекрасно смотреться на фото и видео. (Приблизительное время выполнения1:30 часа на 1 человека)
      .service-price 3000р.
    .prices-column
      h3.prices-column__header Макияж с локонами для съемки 
      p.prices-column__content Макияж с дополнительной укладкой волос, который будет прекрасно смотреться на фото и видео. (Приблизительное время выполнения 2 часа на 1 человека)
      .service-price 3500р.
  include ../button/button
  p.footnote Все цены указаны с учетом выезда в пределах МКАД, ранний выезд и выезд в подмосковье обговаривается отдельно.