header.header
  nav.header-nav
    h1.stacy-name Анастасия Апарина
    a(href="#about").anchor-link Обо мне
    a(href="#portfolio").anchor-link Мои работы
    a(href="#price").anchor-link Цены и услуги
    a(href="#feedback").anchor-link Отзывы
    a(href="#contacts").anchor-link Контакты
.header-img
  img(src="/assets/img/brush.png", alt="")