main.main
  include about/about
  include why-me/why-me
  include my-cosmetics/my-cosmetics
  include my-diplomas/my-diplomas
  include my-works/my-works
  include prices/prices
  include feedback/feedback
  include blank-block/blank-block
  include make-order/make-order